# ignore
*.idea
target
storage.properties
.DS_Store
.gitattributes
src/main/java/cn/wzjun1/yeimServer/.DS_Store
src/main/java/cn/wzjun1/yeimServer/.DS_Store
src/main/java/cn/wzjun1/yeimServer/.DS_Store
